.new-icon {
  background: #44ab10;
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  text-align: center;
  transform: rotate(20deg);
}

.new-icon:before {
  content: "NEW!";
  font-weight: bold;
  font-size: 10px;
  position: absolute;
  top: 0;
  left: 0;
  height: 30px;
  width: 30px;
  background: #44ab10;
  transform: rotate(315deg);
  z-index: 1;
}

body {
  background-color: #F6F8F9;
  min-height: 100%;
  position: relative;
  padding-bottom: 50px;
}

.homeMenu {
  margin-top: 60px;
}

.paragraph {
  color: black;
}

.paragraphHeader {
  color: #7ade4b;
  padding: 15px;
  font-size: 24px;
  font-weight: bold;
}

.p-rating-icon {
  color: #44ab10 !important;
}

.product-img-box img {
  width: 60%;
  height: auto;
  margin: 20px 20%;
  border: 1px solid #7ade4b;
  border-radius: 3px;
}

.p-highlight a {
  background-color: #44ab10 !important;
}

.p-accordion .p-accordion-content {
  background-color: transparent !important;
}
.p-accordion .p-accordion-content .p-card {
  background-color: #7ade4b !important;
  color: #fff;
}

.pricing {
  padding: 20px;
}
.pricing .price {
  color: #7ade4b;
  font-size: 36px;
  text-align: center;
  padding: 15px;
}
.pricing button .pi {
  font-size: 24px;
}

.section .section-header {
  display: inline-block;
  padding: 15px;
  width: 100%;
}
.section .section-header .section-header-title {
  color: #44ab10;
  font-size: 36px;
  text-align: center;
}
.section .section-header .section-title {
  color: #44ab10;
  font-size: 24px;
  display: inline-block;
}
.section .section-header .section-header-border {
  float: right;
  display: inline-block;
  width: inherit;
}
.section .section-header .section-header-border .section-header-inner-border {
  border: 1px solid #7ade4b;
}
.section .section-content {
  padding: 15px;
}
.section .section-content .description {
  color: white;
  font-size: 20px;
}
.section .section-content .product-options {
  padding: 15px;
}
.section .section-content .product-options .product-option .option-header {
  color: #44ab10;
}
.section .section-content .resultNav {
  padding: 15px;
}
.section .section-content .resultNav .p-highlight {
  background-color: #44ab10 !important;
}
.section .section-content .resultNav .p-paginator, .section .section-content .resultNav .p-dropdown-panel, .section .section-content .resultNav .p-dropdown {
  background-color: white;
  border: none;
}
.section .section-content .resultNav .p-paginator .p-dropdown-item, .section .section-content .resultNav .p-paginator .p-paginator-page, .section .section-content .resultNav .p-dropdown-panel .p-dropdown-item, .section .section-content .resultNav .p-dropdown-panel .p-paginator-page, .section .section-content .resultNav .p-dropdown .p-dropdown-item, .section .section-content .resultNav .p-dropdown .p-paginator-page {
  color: #7ade4b;
}
.section .section-content .resultNav .p-paginator .p-paginator-page :hover, .section .section-content .resultNav .p-dropdown-panel .p-paginator-page :hover, .section .section-content .resultNav .p-dropdown .p-paginator-page :hover {
  color: #44ab10;
}
.section .section-content .resultNav .p-dropdown-trigger, .section .section-content .resultNav .p-dropdown-label {
  background-color: white;
  color: #7ade4b;
}
.section .section-content .certificationImages {
  padding-top: 25px;
}
.section .section-content .certificationImages .certificationImage {
  margin: auto;
}
.section .section-content .certificationImages .certificationImage img {
  width: 150%;
  height: auto;
}

#store .storeItem {
  cursor: pointer;
  margin: 30px 0;
  border: 2px solid #44ab10;
  border-radius: 5px;
  padding: 20px;
  background-color: white;
}
#store .storeItem img {
  box-shadow: 5px 5px #F6F8F9;
}
#store .storeItem:hover {
  transform: scale(1.1);
}

.layout-header {
  height: 100px;
  position: fixed;
  display: inline-block;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
  background-color: #F6F8F9;
}
.layout-header #HeaderImg {
  width: auto !important;
  height: 100px;
}
.layout-header #HeaderImg a {
  height: inherit;
}
.layout-header #HeaderImg a img {
  padding: 5px;
  height: inherit;
}
.layout-header .menu-button {
  display: none;
  color: #141414;
  font-size: 24px;
  height: 60px;
  width: 60px;
  line-height: 60px;
  text-align: center;
  cursor: pointer;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}
.layout-header .menu-button :hover {
  background-color: #7ade4b;
}
.layout-header .menu-button i {
  width: inherit;
  line-height: inherit;
}
.layout-header .menu-button i a {
  height: 100%;
}
.layout-header .header-menu {
  position: fixed;
  top: 0;
  right: 0;
  height: 100px;
}
.layout-header .header-menu .header-menu-options {
  right: 0;
  float: right;
  list-style: none;
  height: 60px;
  padding: 15px;
  margin: 0;
}
.layout-header .header-menu .header-menu-options li {
  display: inline;
}
.layout-header .header-menu .header-menu-options .search-bar {
  height: 60px;
}
.layout-header .header-menu .header-menu-options .search-bar .search-field {
  padding: 5px;
  height: inherit;
  margin: 5px auto;
  align-content: center;
}
.layout-header .header-menu .header-menu-options .search-bar .search-field input {
  width: 400px;
}
.layout-header .header-menu .header-menu-options .headerButton i {
  padding: 15px;
}
.layout-header .header-menu .header-menu-options .headerButton :hover {
  color: #7ade4b;
}
.layout-header .header-menu .header-menu-options .headerButton .dropdown-content {
  display: none;
  margin-left: 0 !important;
  min-width: 100px;
  right: 0;
  z-index: 1003 !important;
  text-align: right;
  background-color: #F6F8F9;
  opacity: 100%;
  position: absolute;
}
.layout-header .header-menu .header-menu-options .headerButton .dropdown-content a {
  color: black;
  text-decoration: none;
  display: block;
  text-align: right;
  cursor: pointer;
  border-bottom: 2px solid #7ade4b;
  border-left: 2px solid #7ade4b;
}
.layout-header .header-menu .header-menu-options .headerButton .dropdown-content a i {
  padding-left: 15px;
}
.layout-header .header-menu .header-menu-options .headerButton .dropdown-content a:hover {
  background-color: #7ade4b;
}
.layout-header .header-menu .header-menu-options .headerButton .show {
  display: block;
}
.layout-header .header-menu .header-menu-options .search-bar {
  display: none;
}
.layout-header .header-menu .header-menu-options .active {
  display: inline-block !important;
  -webkit-transition: all 0.6s linear;
  -moz-transition: all 0.6s linear;
  -o-transition: all 0.6s linear;
  transition: all 0.6s linear;
}
.layout-header .header-menu .header-menu-options .account-button {
  width: 60px;
  height: 100%;
}
.layout-header .header-menu .header-menu-options .account-button .p-button {
  width: 60px;
  height: 60px;
  background-color: #378a0d;
}
.layout-header .header-menu .header-menu-options .account-button :hover {
  color: #7ade4b;
}
.layout-header .header-menu .headerNav {
  margin-top: 60px;
  height: 40px;
  list-style: none;
  padding: 10px 0;
}
.layout-header .header-menu .headerNav li {
  height: inherit;
  padding: 10px;
  border-bottom: 3px solid #7ade4b;
  text-align: center;
  display: inline;
}
.layout-header .header-menu .headerNav li a {
  color: #7ade4b;
  font-size: 16px;
  font-weight: bold;
}
.layout-header .header-menu .headerNav .active, .layout-header .header-menu .headerNav li:hover {
  border-bottom-color: #44ab10;
}
.layout-header .header-menu .headerNav .active a, .layout-header .header-menu .headerNav li:hover a {
  color: #44ab10;
}

#layout-content {
  position: absolute;
  margin-top: 100px !important;
  width: 100%;
  min-height: 100%;
}
#layout-content .parallax {
  background-image: url("../../assets/img/GES_Glossy.png");
  height: 1000px;
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#layout-content .form-fieldset {
  padding: 30px;
}
#layout-content .form-fieldset .AccountField {
  padding: 20px;
}
#layout-content .pictureCarousel {
  padding: 10px;
  width: 90%;
  margin: 0 5%;
  position: relative;
}
#layout-content .pictureCarousel img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  max-height: 400px;
  height: auto;
  border: 1px solid #7ade4b;
  border-radius: 3px;
}
#layout-content .pictureCarousel .carouselNav {
  right: 35%;
  width: 50%;
  margin-left: 25%;
}
#layout-content .pictureCarousel .carouselNav li {
  list-style: none;
  opacity: 0.5;
  display: block;
  width: 40px;
}
#layout-content .pictureCarousel .carouselNav li i {
  font-size: 20px;
  transform: scale(2, 1);
}
#layout-content .pictureCarousel .carouselNav li:hover {
  opacity: 0.8;
}
#layout-content .pictureCarousel .traverseBtn {
  color: white;
  opacity: 0.5;
}
#layout-content .pictureCarousel .traverseBtn .active {
  color: #7ade4b;
  opacity: 1;
}
#layout-content .pictureCarousel .traverseBtn :hover {
  color: #7ade4b;
  opacity: 1;
}
#layout-content .pictureCarousel .TraverseRight {
  position: absolute;
  right: 16px;
  top: 35%;
}
#layout-content .pictureCarousel .TraverseLeft {
  position: absolute;
  left: 16px;
  top: 35%;
}

#nav-menu {
  width: 100% !important;
  border: none;
  border-radius: 0;
  background-color: transparent;
  margin-top: 60px;
  margin-left: 0;
  margin-right: 0;
}

.searchResultsPage .search-field {
  padding: 15px;
  margin: auto 0;
}
.searchResultsPage .search-field .search-input {
  width: 90%;
}

.hidden {
  display: none;
}

.cancel-btn {
  background-color: #F6F8F9 !important;
}
.cancel-btn :hover {
  background-color: white;
}

.submit-btn {
  background-color: #44ab10 !important;
  outline-color: #7ade4b !important;
}
.submit-btn :hover {
  background-color: #7ade4b;
}

.p-menu-item {
  width: 100%;
}

.LoginForm {
  padding: 5px;
  border-radius: 10px;
  width: 400px;
  border: 2px solid #44ab10;
  background-color: #141414;
}
.LoginForm #LoginHeader img {
  width: 200px;
  height: auto;
}
.LoginForm .p-tabview .p-tabview-nav {
  border-radius: 4px 4px 0 0;
  padding: 10px;
  background-image: -webkit-linear-gradient(left, #44ab10, #7ade4b) !important;
}
.LoginForm .p-tabview .p-tabview-nav li {
  margin-top: 5px;
  margin-left: 2px;
}
.LoginForm .p-tabview .p-tabview-nav a {
  background-color: transparent !important;
  color: black;
  border: none !important;
}
.LoginForm .p-tabview .p-tabview-nav .p-highlight a {
  background-color: black !important;
  color: #fff !important;
  border-color: black !important;
}
.LoginForm .LoginField {
  margin: 20px auto;
}
.LoginForm .LoginField h1 {
  color: black;
}

.contact .p-editor-container {
  height: 70%;
}
.contact .CompanyAddress {
  font-size: 16px;
  text-align: center;
}
.contact .CompanyAddress span {
  font-weight: bold;
}
.contact .NewCompanyAddress {
  outline: 2px #44ab10 solid;
}

.save-page, .submitPage {
  bottom: 0;
  padding: 15px;
  float: right;
}
.save-page button, .submitPage button {
  width: 100px;
  height: 50px;
}

.submitPage {
  right: 0;
}

@media screen and (max-width: 1140px) {
  .layout-header {
    height: 60px;
    text-align: center;
  }
  .layout-header #HeaderImg img {
    height: 60px !important;
    width: auto;
  }
  .layout-header .header-menu {
    display: none;
  }
  .layout-header .menu-button {
    float: left;
    display: inline-block;
  }

  #layout-content {
    margin-top: 60px !important;
  }
  #layout-content .p-sidebar-close {
    font-size: 24px;
  }

  #sidebarMenu {
    padding: 0;
    top: 60px;
  }
  #sidebarMenu .p-inputgroup {
    display: inline-block;
    padding: 10px;
    align-content: center;
    margin: auto;
  }
  #sidebarMenu .p-sidebar-close {
    display: none;
  }
  #sidebarMenu .p-menu {
    width: 100% !important;
    border: none !important;
  }

  #nav-menu {
    display: none;
  }

  .homeMenu {
    display: none;
  }
}
@media screen and (max-width: 300px) {
  .layout-header img {
    display: none;
  }
}
footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 50px;
  color: grey;
  text-align: center;
  font-size: 10px;
  background: linear-gradient(#F6F8F9, #7ade4b);
  -moz-user-select: none;
  -webkit-user-select: none;
}
footer img {
  height: 40px;
  width: auto;
  opacity: 0.5;
  filter: grayscale(50%);
}

/*# sourceMappingURL=app.css.map */
