@import "variables/GES_default";
@import "custom_icons";


body{
  background-color:$background-color;
  min-height:100%;
  position:relative;
  padding-bottom:$footer-height;
}

.homeMenu{
  margin-top:$topbar-height;
}
.paragraph{
  color:$text-color-alt;
}
.paragraphHeader{
  color:$secondary-color;
  padding:15px;
  font-size:24px;
  font-weight: bold;
}
.store .p-menubar{
  //background-color: $secondary-color!important;
  //border-color:$secondary-color!important;

}

.p-rating-icon{
  color: $primary-color !important;
}

.product-img-box{
 // background-color:$background-color-light;
  img{
    width:60%;
    height:auto;
    margin:20px 20%;
    border:1px solid $secondary-color;
    border-radius: 3px;

  }
}

.p-highlight a{
  background-color:$primary-color!important;
}

.p-accordion{

  .p-accordion-content{
    background-color:transparent!important;
    .p-card{
      background-color:$secondary-color!important;
      color:$text-color;
    }
  }
}
.pricing{
  padding:20px;
  .price{
    color:$secondary-color;
    font-size:36px;
    text-align: center;
    padding:15px;
  }
  button{
    .pi{
      font-size:24px;
    }
  }

}
.section{
  .section-header{
    display:inline-block;
    padding:15px;
    .section-header-title{
      color:$primary-color;
      font-size:36px;
      text-align: center;
    }
    .section-title{
      color:$primary-color;
      font-size:24px;
      display:inline-block;
    }
    .section-header-border{
      .section-header-inner-border{
        border:1px solid $secondary-color;

      }
      float:right;

      display: inline-block;
      width:inherit;


    }
    width:100%;
  }
  .section-content{
    padding:15px;

    .description{
      color:$background-color-light;
      font-size:20px;
    }
    .product-options{
      padding:15px;
      .product-option{
        .option-header{
          color:$primary-color;

        }
      }

    }
    .resultNav{
      padding:15px;

      .p-highlight{
        background-color: $primary-color!important;
      }
      .p-paginator, .p-dropdown-panel,.p-dropdown{
        background-color: $background-color-light;
        border:none;
        .p-dropdown-item, .p-paginator-page{
          color:$secondary-color;

        }
        .p-paginator-page :hover{
          color:$primary-color;

        }
      }
      .p-dropdown-trigger,.p-dropdown-label{

          background-color: $background-color-light;
          color:$secondary-color
      }


    }
    .certificationImages{
      padding-top:25px;
      .certificationImage{
        margin:auto;
        img{
          width:150%;
          height:auto;
        }
      }
    }
  }
}

#store{
  .storeItem{
    cursor: pointer;
    margin: 30px 0;
    border:2px solid $primary-color;
    border-radius: 5px;
    padding:20px;
    background-color: $background-color-light;
    img{
      box-shadow: 5px 5px $background-color ;
    }
  }
  .storeItem:hover{
    transform: scale(1.1);
  }
}

.layout-header{
  height:$header-height;
  position: fixed;
  display: inline-block;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
  background-color: $background-color;
  #HeaderImg{
    width:auto!important;
    height: $header-height;

    a{
      height:inherit;
      img{
        padding:5px;
        height:inherit;
      }
    }
  }
  .menu-button{
    display:none;
    color: $background-color-alt;
    font-size: 24px;
    height:$topbar-height;
    width:$topbar-height;
    line-height:$topbar-height;
    text-align: center;
    cursor: pointer;
    -webkit-transition: background-color 0.2s;
    transition: background-color 0.2s;
    :hover{
      background-color: $secondary-color;
    }
    i{
      width:inherit;
      line-height:inherit;
      a{
        height:100%;
      }
    }
  }
  .header-menu{

    position: fixed;
    top: 0;
    right: 0;
    height:$header-height;
    .header-menu-options{
      right:0;
      float:right;
      list-style: none;
      height:$topbar-height;
      padding:15px;
      margin:0;
      li{

        display: inline;
      }
      .search-bar{


        height: $topbar-height;
        .search-field{
          padding:5px;
          height:inherit;
          input{
            width:400px;
          }

          margin:5px auto;
          align-content: center;
        }
      }
      .headerButton{

        i{
          padding:15px;
        }
        //
        :hover{
          color:$secondary-color;
        }
        .dropdown-content {
          display: none;
          margin-left: 0!important;
          min-width: 100px;
          right:0;
          z-index: 1003!important;

          text-align: right;
          background-color: $background-color;
          opacity: 100%;
          position: absolute;
          a{
            color: black;
            text-decoration: none;
            display: block;
            text-align: right;
            cursor:pointer;
            border-bottom: 2px solid $secondary-color;
            border-left: 2px solid $secondary-color;
            i{
              padding-left:15px;
            }
            span{

            }
          }
          a:hover{
            background-color: $secondary-color;
          }
        }
        .show{
          display:block;
        }

      }
      .search-bar{
        display:none;
      }
      .active{
        display:inline-block!important;
        -webkit-transition: all .6s linear;
        -moz-transition: all .6s linear;
        -o-transition: all .6s linear;
        transition: all .6s linear;
      }
      .account-button{
        width:$topbar-height;
        li{
          // float:left!important;

        }
        height: 100%;
        .p-button{
          width:$topbar-height;
          height:$topbar-height;
          background-color:darken($primary-color,7%);
        }
        :hover{
          color:$secondary-color;
        }
      }
    }
    .headerNav{
      margin-top:$topbar-height;
      height:$header-height - $topbar-height;
      list-style: none;
      padding: 10px 0;

      li{
        height:inherit;
        padding:10px;
        border-bottom:3px solid $secondary-color;
        text-align: center;
        display:inline;

        a{
          color:$secondary-color;
          font-size:16px;
          font-weight: bold;


        }



      }

      .active,li:hover{
        border-bottom-color: $primary-color;
        a{
          color:$primary-color;
        }
      }



    }






  }




}
#layout-content{
  position:absolute;
  margin-top:$header-height!important;
  width:100%;
  min-height: 100%;
  .parallax{
    background-image: url("../../assets/img/GES_Glossy.png");
    //background-image: url("../../assets/img/GES_Main_Header.svg");

    height: 1000px;
    width:100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .form-fieldset{
    padding:30px;
    .AccountField{
      padding:20px;
    }
  }

  .pictureCarousel{

      padding:10px;
      width:90%;
      margin:0 5%;
      position:relative;


      img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width:80%;
        max-height:400px;
        height:auto;
       // width:80%;
       // height:auto;
       // max-height:500px;


        border:1px solid $secondary-color;
        border-radius: 3px;
      }
      .carouselNav{


        right:35%;

        width:50%;

        li{
          list-style: none;

          opacity:.5;
          display:block;
          width:40px;
          i{
            font-size:20px;
            transform: scale(2,1);
          }

        }
        li:hover{
          opacity:.8;
        }
        margin-left:25%;


      }
      .traverseBtn{
        color:$background-color-light;
        opacity:.5;
        .active{
          color:$secondary-color;
          opacity:1;
        }
      }
      .traverseBtn :hover{
        color:$secondary-color;
        opacity:1;
      }
      .TraverseRight{
        position: absolute;
        right:16px;
        top:35%;
      }
      .TraverseLeft{
        position: absolute;
        left:16px;
        top:35%;

      }
  }

}
#nav-menu{
  width:100%!important;
  border:none;
  border-radius:0;
  background-color: transparent;
  margin-top:$topbar-height;
  margin-left:0;
  margin-right:0;


}
.searchResultsPage{
  .search-field{
    padding:15px;
    margin:auto 0;
    .search-input{
      width:90%;
    }
  }
}

.hidden { display:none; }
.cancel-btn{
  background-color:$background-color!important;
  :hover{
    background-color:$background-color-light;
  }
}
.submit-btn{
  background-color:$primary-color!important;
  outline-color:$secondary-color!important;
  :hover{
    background-color:$secondary-color;
  }

}

.p-menu-item{
  width:100%;
}

.LoginForm {
  @import "pages/loginForm";
  padding: 5px;
  border-radius: 10px;
  width:400px;

  border: 2px solid $primary-color;
  background-color: $background-color-alt;




}
.contact{
  @import "pages/contact";

}
.save-page,.submitPage{

  bottom: 0;
  padding:15px;
  float:right;

  button{
    width:100px;
    height:50px;
  }
}
.submitPage{
  right:0;
}
@media screen and (max-width: 1140px) {

  //$topbar-height-mobile:30px;
  .layout-header{
    height:$topbar-height;
    text-align: center;
    #HeaderImg{

      img{
        height:$topbar-height!important;
        width:auto;
      }
    }
    .header-menu{
      display:none;
      //height:$topbar-height-mobile;
    }
    .menu-button{
      float:left;
      display: inline-block;
     // height:$topbar-height-mobile;

    }


  }
  #layout-content{
    margin-top:$topbar-height!important;
    //padding-top:$topbar-height-mobile;
    .p-sidebar-close{
      font-size:24px;
    }


  }
  #sidebarMenu{
    padding:0;
    top:$content-offset;
    .p-inputgroup{
      display:inline-block;
      padding:10px;
      align-content: center;
      margin:auto;
    }
    .p-sidebar-close{
      display:none;
    }
    .p-menu{
      width:100%!important;
      border:none!important;
    }
    // padding-top: $topbar-height;
  }
  #nav-menu{
    display:none;
  }
  .homeMenu{
    display:none;
  }


}
@media screen and (max-width:300px){
  .layout-header{
    img{
      display: none;
    }
  }
}

footer{

  img{
    height:40px;
    width:auto;
    opacity: 0.5;
    filter:grayscale(50%);
  }
  position: absolute;
  left: 0 ; right: 0; bottom: 0;
  height:$footer-height;
  color:grey;
  text-align:center;
  font-size:10px;
  background:linear-gradient($background-color,$secondary-color);
  -moz-user-select:none;
  -webkit-user-select:none;
}

